{% extends "layout.html.twig" %}
{%  block contenu %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Complement</th>
                <th>cp</th>
                <th>ville</th>
                <th>tel</th>
            </tr>
        </thead>
        <tbody>
            
   {% for unClient in clients %}
    <tr>
      <td>{{ unClient.getId() }}</td>
      <td>{{ unClient.getTitreCli() }}</td>
      <td>{{ unClient.getNomCli() }}</td>
      <td>{{ unClient.getPrenomCli() }}</td>
      <td>{{ unClient.getAdresseRue1Cli() }}</td>
      <td>{{ unClient.getAdresseRue2Cli() }}</td>
      <td>{{ unClient.getcpCli() }}</td>
      <td>{{ unClient.getVilleCli() }}</td>
      <td>{{ unClient.getTelCli() }}</td>
    
    </tr>
    

    {% endfor %}
      
  </tbody>
    </table>
     <p>Nombres de clients : {{ clients | length }}</p>


{% endblock %}
{% block footer %} 
    {{ parent() }}
    Fin de l'affichage
{%  endblock %}